#gl-canvas {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slider-div {
    width: 25%;
    height: 100%;
    overflow: scroll;
    float: left;
}

#object-div {
    width: 25%;
    height: 100%;
    float: right;
}